*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
span, img, a, ul, li {
	margin:0;
	padding:0;
	border:0;
}
.krakatoa{
	display:none;
	margin:50px auto;
}
.krakatoa-control{
	padding-bottom:20px;
}
.arrows{
	position:absolute;
	top:1px;
	left:0;
	z-index:100;
}
.arrow{
	float:left;
	margin-right:7px;
}
.arrow a{
	display:block;
	width:13px;
	height:0;
	padding-top:16px;
	overflow:hidden;
	background:transparent url('img/arrows.png') no-repeat;
	cursor:pointer;
}
.arrow-left a{
	background-position:0 0;
}
.arrow-right a{
	background-position:-20px 0;
	left:20px;
}
.arrow-left a:hover{
	background-position:0 -16px;
}
.arrow-right a:hover{
	background-position:-20px -16px;
	left:20px;
}
.buttons{
	position:absolute;
	top:5px;
	right:0px;
	z-index:100;
}
.pagination{
	float:left;
	margin:0 2px;
}
.pagination a{
	display:block;
	width:10px;
	height:0;
	padding-top:10px;
	background-image:url('img/pagination.png');
	background-position:0 0;
	overflow:hidden;
}
.active-button a,
.active-button a:hover{
	background-position:0 -30px;
}
.pagination a:hover{
	background-position:0 -30px;
}